html, body {margin:0; padding:0; height:100%;}
a{color:black;}
/*.col{padding:0; float:left;}*/
a:hover{color:black;}
*{font-family: "Gabriola", Lato, arial, sans-serif; font-size: 24px;}
p{margin-bottom:0;}
.fas{float:left;}
.container-fluid.main{padding-left:0; padding-right:0;}
.header{background-color: #f6f0ea; height:66px; width: 100%; position:fixed; z-index: 100; opacity: 1; top:0; border-bottom:1px solid black;}
/*.header a{float: right; display: block; text-align: center; padding: 14px 16px; text-decoration: none;}*/
.form-group label{
    font-weight: bold;
}
.form-group label.required:after {
    content: " *";
    color:red;
}

.row{margin-right:0; margin-left:0;}

.main_body{position: relative; margin-top:66px; padding: 0; min-height:80%; }
.slogan{margin-top:10px; margin-left:12px;}
.slogan a{font-size: 36px; color:#3A595E; text-decoration: none;}

/*.navbar{font-size:24px;}*/
.navbar li a {color:black; }
.navbar li a:hover {color: black; text-decoration: underline; }
.navbar-expand-lg{padding-top:8px;}
/*.searching{width:40%; margin:0 auto; position: relative; bottom: 300px; height:60px; }*/
/*.searching .form-control{width:100%; height:60px; border-radius: 0; border:none; padding-top:15px;}*/

.headline{font-size: 26px; color:#3A595E; padding-left:45px; margin-bottom: 10px;}
.photo_border{width:90%; margin:0 auto; background-color: #61969E;}
.photo_border img{max-height:220px; width:100%; padding:10px;}
.caption{text-align: center; padding:5px; }

footer{clear:both; background-color: #61969E; }
footer p{text-align:center; padding:8px; margin-bottom: 0;}

.last_recipe{float:left; }
.last_recipe a{color:black;}
.photo_border:hover{opacity:0.9;}
.icons{color:black; background-color: #61969E; position: absolute; top:2%; left:10%; }
.icons .fas{float: left; padding:6px 2px 6px 9px; font-size: 90%;}
.icon{float:left; padding:0 8px 0 4px; font-size: 100%;}

/*.icons_edit{position: relative; bottom: 38px; left:10px;}*/
.icon.cog{background-color: #61969E; padding:6px;}
.icon.cog:hover{color: #f6f0ea;}
.icon.trash{background-color: #61969E; padding:6px;}
.icon.trash:hover{color: #f6f0ea;}
.icons_edit .fas{font-size: 20px;}

.section_title{width:100%; margin:0 0 30px 0; padding-top:20px;}
h1{text-align: center; font-size: 40px;}
.page-item.active .page-link{background-color: #61969E; border-color: #61969E;}
.page-link{color:#61969E;}
.page-link:hover{color:#41666B;}
.navigation.text-center{margin:5px 20px 20px 0; float: right;}

.index_recipe{padding-top:50px;}
.aside{float: left; }
.add_recipe{background-color: #e9662a; width: 60%; margin:0 auto;}
.add_recipe a:hover{text-decoration: none;}
.add_recipe:hover{opacity: 0.9;}
.add_recipe p{text-align: center; margin:5px;}
.add_recipe a{color:black; }

.popular_tags{clear:both; width:100%;}
.popular_tags p{margin-bottom: 5px; margin-top: 20px;}
.tag{background-color: #f6f0ea; padding: 5px; margin:5px; width:auto; float:left; border-radius: 3px; text-transform: lowercase;}
.tag:hover{opacity: 0.7;}
.tag a{text-decoration: none; color:black;}

.photo_recipe{position: fixed; top: 66px; bottom: 0; left: 0; width: 46%; height: auto; padding:0}
.photo_recipe img{width:100%; height:100%;}
.data_recipe{position: absolute; top: 26px; bottom: 0; left: 46%; width: 54%;}
.recipe_list{margin:0 0 0 30px;}
.recipe_list p{font-weight: bold; padding-top:20px;}
.data_recipe .recipe_name{font-size:34px; padding-top:0;}

.fa-circle{font-size: 10px; clear:both;}
.icon_recipe{margin-top:10px; width:20%; float: left;}
.icon-recipe .fas{float:left; }
.ingredients_list p{clear:both;}
.ingredients_list i{margin:12px 10px 0 10px;}
.recipe_author{width:80%; float:left; margin-top:5px;}
.recipe_author p{font-weight: normal; padding:0;}
.recipe_tags .tag{background-color: #61969E;}
/*.recipe_description{padding-top: 20px;}*/

.title p{text-align: center; font-size: 34px; padding-top:30px; padding-bottom: 30px;}
.back_button{clear:both; background-color: #e9662a; width:10%; border-radius: 3px; margin:10px 10px 10px 30px;}
.back_button p{text-align: center; }

.comments p{clear:both;}
.comment{border:1px solid #ddd; border-radius: 4px; padding:10px; margin:10px 0 10px 0; }
.button{background-color: #e9662a; border:none; color:black; border-radius: 3px; padding:3px 8px; margin:15px; cursor: pointer;}
.button:hover{opacity: 0.9;}

.dl-horizontal{margin-right:10px;}
.userRecipe{clear:both;}
/*.table-striped a{clear:both; display:block;}*/



